<footer>
    <div class="footer-top text-center">
        <div class="container">
            <div class="row justify-content-center">
                   <a class="navbar-brand" href=""><img class="imgfooter" src="static/img/WIPPASS_icon.png" alt=""></a>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                        classical Latin literature from</p>
                    <div class="col-auto social-icons">
                        <a href="#"><i class='bx bxl-facebook'></i></a>
                        <a href="#"><i class='bx bxl-twitter'></i></a>
                        <a href="#"><i class='bx bxl-instagram'></i></a>
                        <a href="#"><i class='bx bxl-pinterest'></i></a>
                    </div>
                    <div class="col-auto conditions-section">
                        <a href="#">privacy</a>
                        <a href="#">terms</a>
                        <a href="#">disclaimer</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <p class="mb-0">Copyright vicpra 2022. All rights Reserved</p>
    </div>
</footer>